<script setup>
import Navbar from './components/Navbar.vue'
</script>

<template>
  <div>
    <navbar />
    <header class="bg-white shadow" v-if="$route.meta.title">
    </header>
    <main>
      <router-view />
    </main>
  </div>
</template>
